---
import Layout from '../layouts/Layout.astro';
import HowItWorksComponent from '../components/pages/how-it-works';
---

<Layout title="How SIMIS Works - Medical Device Guidance">
  <div id="root">
    <HowItWorks client:load onBack={() => window.history.back()} />
  </div>
</Layout>
